<div class="container buySell">
  <h4><b>{{title}}</b></h4> 
  <div class="w3-row">
    <div class="w3-quarter">
      <select [(ngModel)]="Symbol" class="w3-select" name="symbol">
        <option value="USD">USD</option>
        <option value="BTC">BTC</option>
        <option value="ETH">ETH</option>
        <option value="XRP">XRP</option>
      </select> 
    </div>
    <div class="w3-half">
      <input [(ngModel)]="Amount" class="w3-input" type="number" step="0.000001" placeholder="10">
    </div>
    <div class="w3-quarter">
      <button (click)="postTransaction()" class="w3-button w3-round w3-{{btnColor}} w3-hover-{{btnColorHover}}">{{title}}</button>
    </div>
  </div>
</div>
