.buySell {
    padding: 0 0 10px;

    .w3-select {
        border-bottom: none;
    }

    .w3-button {
        width: 95%;
        color: #fff !important;
        float: right;
    }

    .inputs{
        margin: 5px 0;
    }
}