<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="w3-row w3-padding">
  <div class="w3-twothird w3-container">
    <graph></graph>
  </div>
  <div class="w3-third">
    <user name="Teszt Elek"></user>
  </div>
</div>
<div class="w3-row-padding">
  <div class="w3-third w3-container">
    <div class="w3-card-4 w3-hover-shadow w3-container">
      <transaction type="purchase"></transaction>
    </div>
    <div class="w3-card-4 w3-hover-shadow w3-container">
      <transaction type="sell"></transaction>
    </div>
  </div>
  <div class="w3-twothird w3-container">
    <transaction-history title="Tranzakciók"></transaction-history>
  </div>
</div>

<router-outlet></router-outlet>
