<div class="w3-card-4">
    <header class="w3-container w3-light-grey w3-display-container">
        <h4><b>{{name}}</b></h4> 
        <img src="{{imgSrc}}" alt="Avatar" class="w3-left w3-circle w3-padding w3-display-topright" width="67.5px">
    </header>
            
    <div class="w3-container">
        <table class="w3-table">
        <tr>
            <td>{{usd}}:</td>
            <td>{{balance.usd}}</td>
        </tr>
        <tr>
            <td>{{btc}}:</td>
            <td>{{balance.btc}}</td>
        </tr>
        <tr>
            <td>{{eth}}:</td>
            <td>{{balance.eth}}</td>
        </tr>
        <tr>
            <td>{{xrp}}:</td>
            <td>{{balance.xrp}}</td>
        </tr>
        </table> 
    </div>       
</div>
